
body{
    font-family: "Open Sans", sans-serif;
    background-color: black;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
}

.FilterContainer{
    min-width: 100vh;
    min-height: 100vh;
}